* {
    font-family:sans-serif;
}

* a{
    color:inherit;
    text-decoration:inherit;
}

* input,
* button{
    -moz-appearance:none;
    -webkit-appearance:none;
}


body{
    margin:0;
    padding:100px 0 0 0;
    background-color:#202020;
    color:#e1e1e1;
    overflow-x:hidden;
}


@media screen and (min-width: 765px) {

    * .mob{
        display: none !important;
    }

    #header div.black_screen{
        display:none;
    }

    #header{
        animation:slide .5s;
        position:fixed;
        top:0;
        left:0;
        z-index:100;
        display:flex;
        flex-direction:column;
        justify-content:center;
        height:auto;
        width:100%;
    }

    #header div.menu{
         display:flex;
         flex-wrap:nowrap;
         width:100%;
         justify-content:center;
         background-color: #bd003a;
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
     }

    #header div.menu *{
        animation:fade 1s;
    }

    #header div.menu div.logo{
        position:relative;
        display:flex;
        justify-content:center;
        height:80px;
        width:100px;
        background-image:url('/css/images/logo.svg');
        background-size:100px auto;
        background-repeat:no-repeat;
        background-position:center;
        margin:0;
        padding:0 20px;
    }

    #header div.menu div.logo a{
        display:flex;
        justify-content:center;
        align-items:center;
        height:auto;
        width:100%;
        text-indent:-999999px;
    }

    #header div.menu ul{
        display:flex;
        justify-content:center;
        width:auto;
        height:auto;
        padding:0;
        margin:0;
    }

    #header div.menu ul>li{
        overflow:hidden;
        position:relative;
        display:flex;
        height:80px;
        width:auto;
        color:#fff;
        font-size:15px;
        transform:skew(-15deg);
    }

    #header div.menu ul>li>a,#searchButton{
        transition:all .3s;
        cursor:pointer;
        position:relative;
        z-index:150;
        display:flex;
        height:100%;
        padding:0 30px;
        justify-content:center;
        align-items:center;
    }

    #searchButton.open{
        transition:all .3s;
        -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
        box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
    }

    #header div.menu ul>li:before{
        transition:top .3s;
        content:'';
        position:absolute;
        height:100%;
        width:100%;
        background-color:#FFF;
        top:-100%;
        left:0;
    }

    #header div.menu ul>li:hover:before{
        transition:top .3s;
        content:'';
        position:absolute;
        height:100%;
        width:100%;
        background-color:#FFF;
        top:calc(100% - 3px);
        left:0;
    }

    #header  div.search{
        display:flex;
        transition:all .3s;
        width:100%;
        max-width:550px;
        height:0;
        overflow: hidden;
        justify-content:center;
        align-items:center;
        background-color: rgba(145, 0, 41, 0.8);
        margin:0 auto;
    }

    #header div.search.open{
        transition:all .3s;
        height:60px;
        border-bottom:3px #fff solid;
    }

    #header div.search form{
        transition:all .3s;
        opacity:0;
    }

    #header div.search.open form{
        transition:all .3s;
        opacity:1;
        width:100%;
    }

    #header div.search form{
        margin:0;
        padding:0;
        display:flex;
        height:100%;
        width:100%;
        justify-content:center;
        align-items:center;
    }

    #header div.search>form input,
    #header div.search>form button{
        box-sizing:border-box;
        border:none;
        height:100%;
        background-color:transparent;
    }

    #header div.search>form button i{
        color:#fff;
    }


    #header div.search>form input:focus,
    #header div.search>form button:focus{
        outline:none;
    }

    #header div.search>form>input[type="search"]{
         padding-left:0;
         min-width:280px;
         width:calc(100% - 60px);
         max-width:500px;
         color:#fff;
         font-size:15px;
     }

    #header div.search>form>input[type="search"]::placeholder{
        color:#fff !important;
        font-size:15px;
    }

    #header div.search>form button{
        color: #fff;
        font-size:20px;
        cursor:pointer;
    }

    #header div.menu div.hamb{
        display:none;
    }


    #song div.comment_form form button:before{
        transition:left .5s;
        content:"";
        position:absolute;
        top:0;
        left:-100%;
        height:100%;
        width:100%;
        background-color:#fff;
    }

    #song div.comment_form form button:hover span{
        transition:color .5s;
        color:#710021;
    }

    #song div.comment_form form button:hover:before{
        transition:left .5s;
        content:"";
        position:absolute;
        top:0;
        left:0;
    }

    #song div.comment_form form button:hover{
        transition:all .5s;
        transform:scale(1.1);
        cursor:pointer;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    }

    div.form_box form button[type = "submit"]:before{
        transition:left .5s;
        content:"";
        position:absolute;
        top:0;
        left:-100%;
        height:100%;
        width:100%;
        background-color:#fff;
    }

    div.form_box form button[type = "submit"]:hover span{
        transition:color .5s;
        color:#710021;
    }

    div.form_box form button[type = "submit"]:hover:before{
        transition:left .5s;
        content:"";
        position:absolute;
        top:0;
        left:0;
    }

    div.form_box form button[type = "submit"]:hover{
        transition:all .5s;
        transform:scale(1.1);
        cursor:pointer;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    }

}



@media screen and (max-width: 765px) {

    * .desk{
        display: none !important;
    }

    #header div.black_screen{
        display:none;
        position:fixed;
        top:0;
        left:0;
        z-index:100;
        width:100vw;
        height:100vh;
        background-color:rgba(0,0,0,0.8);
        overflow:hidden;
    }

    #header.open div.black_screen{
        display:block;
    }


    #header{
        animation:slide .5s;
        position:fixed;
        z-index:300;
        top:0;
        width:100%;
        height:auto;
    }

    #header div.menu{
        position:relative;
        z-index:200;
        display:flex;
        flex-direction:column;
        height:80px;
        background-color: #bd003a;
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    }

    #header div.menu div.logo{
        position:relative;
        display:flex;
        justify-content:flex-start;
        width:100%;
        min-height:80px;
        height:100%;
    }

    #header div.menu div.logo a{
        display:block;
        height:100%;
        width:100px;
        text-indent:-999999px;
        background-image:url('/css/images/logo.svg');
        background-size:100px auto;
        background-repeat:no-repeat;
        background-position:center;
        margin-left:10px;
    }

    #header div.menu div.hamb{
        position:absolute;
        z-index:200;
        top:0;
        right:10px;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        height:100%;
        width:45px;
    }

    #header div.menu div.hamb span{
        display: block;
        height: 3px;
        width: 100%;
        background-color: #fff;
        transition:transform .5s;
    }

    #header div.menu div.hamb span:first-child{
        margin-bottom:3px;
    }

    #header div.menu div.hamb span:nth-child(2){
        margin:3px 0;
    }

    #header div.menu div.hamb span:last-child{
        margin-top:3px;
    }

    #header.open div.menu div.hamb span:first-child{
        transform: translateY(calc(100% + 6px)) rotate(45deg);
        transition:transform .5s;
    }

    #header.open div.menu div.hamb span:nth-child(2){
        transition:transform .5s;
        transform:translateX(130%);
    }

    #header.open div.menu div.hamb span:last-child{
        transform: translateY(calc(-100% - 6px)) rotate(-45deg);
        transition:transform .5s;
    }

    #header div.menu ul{
        z-index:150px;
        position:absolute;
        top:80px;
        left:-100%;
        display:block;
        z-index:150;
        background-color: #8d002b;
        margin:0;
        padding:0;
        width:100%;
        transition:left .5s;
    }

    #header.open div.menu ul{
        transition:left .5s;
        left:0;
    }

    #header div.menu ul>li{
        position:relative;
        list-style:none;
        width:100%;
        height:60px;
        border-bottom:1px solid #710021;
    }

    #header div.menu ul>li>a{
        display:flex;
        justify-content:center;
        align-items:center;
        width:100%;
        height:100%;
        font-size:15px;
    }

    #header div.menu ul>li.search form{
        display:flex;
        position:relative;
        width:100%;
        height:100%;
        margin:0;
        box-sizing:border-box;
        padding:0;
    }

    #header div.menu ul>li.search form input[type="search"]{
        box-sizing: border-box;
        padding-left:10px;
        height:100%;
        background-color:#710021;
        border:none;
        width:85%;
        color:#fff;
        font-size:15px;
    }
    #header div.menu ul>li.search form button{
        display:flex;
        justify-content:center;
        align-content:center;
        height:100%;
        background-color:#710021;
        border:none;
        width:calc(15% - 1px);
        border-left:1px solid #500018;
    }

    #header div.menu ul>li.search form button i{
        font-size:20px;
        color:#ffffff;
    }

    #header div.menu ul>li.search form input[type="search"]::placeholder{
        color:#fff;
        font-size:15px;
    }

    #header div.menu ul>li.search form input[type="search"]:focus,
    #header div.menu ul>li.search form input[type="search"]:focus{
        outline:none;
    }

}

#main{
    max-width:1150px;
    margin:auto;
}

#main div.last_songs h2{
    text-align:center;
}


#new_song{
    animation:zoom .5s;
    display:flex;
    justify-content:center;
    align-items:center;
    height:calc(100vh - 100px);
}

div.form_box{
    z-index: 100;
    display:flex;
    position:relative;
    justify-content:center;
    align-items:center;
    height:auto;
}

div.form_box form{
    display:flex;
    flex-direction:column;
    width:100%;
    background-color: #bd003a;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    padding:10px;
    margin:10px;
}

div.form_box form h3{
    width:calc(100% + 20px);
    margin:-10px 0 20px -10px;
    box-sizing:border-box;
    padding:30px 10px;
    background-color:#710021;
    font-size:18px;
    height:40px;
    display:flex;
    align-items:center;
}

div.form_box form label{
    color:#fff;
    font-size:15px;
    text-decoration:underline;
}

div.form_box form label,
div.form_box form input:not([type="submit"]){
    margin-bottom:5px;
    border:none;
}

div.form_box form label:not(:first-child){
    margin-top:10px;
}

div.form_box form input:not([type = "file"]),
div.form_box form button[type = "submit"]{
    height:40px;
    background-color:transparent;
    border-bottom:2px solid #fff;
}

div.form_box form input:not([type = "file"]),
div.form_box form input:not([type = "file"])::placeholder{
    color:#fff;
    font-size:13px;
}

div.form_box form input:not([type = "file"]):active,
div.form_box form input:not([type = "file"]):focus{
    outline:none;
}


div.form_box form button[type = "submit"]{
    overflow:hidden;
    position:relative;
    z-index:20;
    transition: all .5s;
    margin:30px auto 0 auto;
    border:none;
    font-size:12px;
    background-color:#710021;
    color:#fff;
    width:30%;
    min-width:100px;
}

div.form_box form button[type = "submit"] span{
    transition:color .5s;
    color:inherit;
    position:relative;
    z-index:30;
}


#song{
    position:relative;
}

#song h3{
    text-align:center;
}

#song div.contain_song{
    animation:fade 1s;
}

#song div.contain_song img{
    object-fit:cover;
    width:100%;
    height:400px;
}
#song div.contain_song audio{
    min-width:100%;
    width:100%;
    max-width:100%;
    margin:auto;
}

#song div.comments{
    animation: slideLeft 1s;
    position:relative;
    display:flex;
    flex-direction:column;
    width:100%;
    height:auto;
}

#song div.comments h4{
    box-sizing:border-box;
    padding:0 10px;
}

#song div.comments div.comment {
    box-sizing: border-box;
    padding: 20px;
    margin:10px;
    color:#252525;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
}

#song div.comments div.comment div.user{
    color:#fff;
    text-align:left;
    background-color:#bd003a;
    padding:20px;
    margin:-20px 0 10px -20px;
    width:100%;
}

#song div.comments div.comment div.content{
    box-sizing:border-box;
    padding:20px 0;
    text-align:justify;
}

#song div.comments div.comment div.date{
    text-align:right;
    font-size:12px;
}

#song div.comment_form{
    animation:slideRight 1s;
    margin:30px 10px 10px 10px;
}

#song div.comment_form form{
    display:flex;
    flex-direction: column;
}

#song div.comment_form form textarea{
    min-width:100%;
    max-width:100%;
    min-height:200px;
}

#song div.comment_form form button{
    overflow:hidden;
    position:relative;
    z-index:20;
    transition: all .5s;
    margin:10px 0 0 0;
    border:none;
    font-size:12px;
    background-color:#710021;
    color:#fff;
    height:40px;
    width:30%;
    min-width:200px;
}

#song div.comment_form form button span{
    transition:color .5s;
    color:inherit;
    position:relative;
    z-index:30;
}

#song div.vues{
    animation:fade 1s;
    padding:10px 0;
    font-size:15px;
    text-align:right;
}

#song div.likes{
    animation:fade 1s;
    padding-left:10px;
}

#song div.like{
    margin-top:10px;
    animation:fade 1s;
    padding-left:10px;
}


#song div.like form input[type="submit"]{
    overflow:hidden;
    position:relative;
    z-index:20;
    transition: all .5s;
    margin:0;
    border:none;
    font-size:12px;
    background-color:#710021;
    color:#fff;
    width:200px;
    min-width:100px;
    height:40px;
    cursor:pointer;
}

#song div.like form input[type="submit"]:hover{
    transition:all .3s;
    background-color:#fff;
    color:#710021;
}


#last_songs{
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

#last_songs h2{
    font-size:20px;
    text-align:center;
}

#last_songs div.contain_song{
    transition: all .5s;
    position:relative;
    width:100%;
    height:auto;
    border-radius:5px;
    margin:30px 0;
    box-sizing:border-box;
    padding:0 10px;
}

#last_songs div.contain_song:hover{
    transition: transform .5s;
    transform:scale(1.1);
}

#last_songs div.contain_song img{
    transition:all .5s;
    object-fit:cover;
    height:400px;
    width:100%;
    border-radius:5px;
}

#last_songs div.contain_song:hover img{
    transition:all .5s;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
}

#last_songs div.contain_song.left{
    animation:slideLeft 1s;
    text-align:left;
}

#last_songs div.contain_song.right{
    animation:slideRight 1s;
    text-align:left;
}

#last_songs div.contain_song div.title{
    position:absolute;
    bottom:0;
    height:60px;
    width:calc(100% - 20px);
    display:flex;
    box-sizing:border-box;
    padding:20px;
    justify-content:center;
    align-items:center;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    background-color: rgba(189, 0, 58, 0.8);
}


@keyframes slide{
    0%{
        transform:translateY(-80px);
    }
    100%{
        transform:translateY(0);
    }
}


#pagination ul{
    margin:0;
    padding:0;
    display:flex;
    height:auto;
    width:100%;
    justify-content:center;
    margin-bottom:10px;
}

#pagination ul li{
    display:flex;
    justify-content:center;
    align-items:center;
    list-style:none;
    width:30px;
    height:30px;
}

#pagination ul li{
    background-color:#bd003a;
}

#pagination ul li:not(.active):not(.disabled):hover{
    background-color: #93002d !important;
}

#pagination ul li:first-child{
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

#pagination ul li:last-child{
    border-top-right-radius:5px;
    border-bottom-rigth-radius:5px;
}

#pagination ul li.disabled,
#pagination ul li.active{
    background-color:#fff;
    color:#bd003a;
}

#last_songs h2{
    font-size:20px;
    padding:0 10px;
    margin-bottom:30px;
}

@keyframes slideLeft{
    0%{transform:translate(-200%,0);}
    100%{transform:translate(0,0);}
}

@keyframes slideRight{
    0%{transform:translate(200%,0);}
    100%{transform:translate(0,0);}
}

#keyframes slideLeft{

}

@keyframes fade{
    0%{
        opacity:0;
    }
    30%{
       opacity:0;
    }
    100%{
        opacity:1;
    }
}

@keyframes zoom{
    0%{
        transform: scale(0);
    }
    100%{
        transform:scale(1);
    }
}

